@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Iosevka Charon Mono', monospace;
    background-color: #171D1C;
    color: #F0F7F4;
}


h1 {
    color:#BD93D8;
    font-size: 4em;
}

h2 {
    font-size:3em;
}
p {
    font-size:2em;
}

.content {
    display:grid;
    align-items: center;
    flex-grow:1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    text-align: center;

}

.wrapper {
    border: 1px solid #737e7e;
    width:90%;
    margin-inline:auto;
    position:relative;
    height: 10vh;
    margin:5rem;
    overflow: hidden;
}

@keyframes scrollLeft {
    to {left:-10vw;}
}

.item {
    width:10vw;
    height:10vh;
    background-color: #242d2d;
    border-radius: 2rem;
    position: absolute;
    left: 100%;
    animation-name:   scrollLeft;
    animation-duration: 10s;
    animation-timing-function: linear;      
    animation-iteration-count:infinite;
}

.item-1 {
    animation-delay:calc(10s / 8 * (8 - 1) * -1);
}

.item-2 {
    animation-delay:calc(10s / 8 * (8 - 2) * -1);
}

.item-3 {
    animation-delay:calc(10s / 8 * (8 - 3) * -1);
}

.item-4 {
    animation-delay:calc(10s / 8 * (8 - 4) * -1);
}

.item-5{
    animation-delay:calc(10s / 8 * (8 - 5) * -1);
}

.item-6 {
    animation-delay:calc(10s / 8 * (8 - 6) * -1);
}

.item-7 {
    animation-delay:calc(10s / 8 * (8 - 7) * -1);
}

.item-8 {
    animation-delay:calc(10s / 8 * (8 - 8) * -1);
}